@charset "UTF-8";

*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{background-image: linear-gradient(to right,#CE8AAF,#AC5685,#8A2E60);}

main{background-color: hsla(327, 36%, 70%, 0.993);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
width: 600px;
margin: auto;
padding: 10px;}

p{text-align: justify;color: rgb(130, 42, 42);}

h1{color: #450026;
text-shadow: 4px 4px 4px #1c0110;font-size: xxx-large;
text-align: center;}

h2{color: #1c0110;}

