@charset "UTF-8";

*{margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

  html, body{width: 100vw;
             height: 100vh;
             background-color: black;}

  body{background: url(/imagens/fundo-madeira.jpg) no-repeat top center fixed;
       background-size: cover;}           

  main{position: relative;
       height: 100vh;}
       
  section#iphone{width: 311px;
                 height: 627px;
                 position: absolute;
                 left: 50%;
                 top: 50%;
                 translate: -50% -50%;
                 background: url(/imagens/frame-iphone.png);}     

