@charset "UTF-8";

*{margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

  html, body{width: 100vw;
             height: 100vh;
             background-color: black;}

  body{background: url(/imagens/fundo-madeira.jpg) no-repeat top center fixed;
       background-size: cover;}           

  main{position: relative;
       height: 100vh;}
       
     section#iphone{width: 311px;
                 height: 627px;
                 position: absolute;
                 left: 50%;
                 top: 50%;
                 translate: -50% -50%;
                 background: url(/imagens/frame-iphone.png);}
                 
     iframe#home{position: relative;
              left: 7%;
              top: 13%;
              width: 267.5px;
              height: 473px;}
 
     section#botões{text-align: right;}

     section#botões img{width: 60px;
      border-radius: 50px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.478);
      margin: 10px;
      box-sizing: border-box;}

     section#botões img:hover{border: 2px solid rgba(255, 255, 255, 0.600);
                              translate: -5px 5px;
                              transition: translate 0.1s;} 

      
 
